footer{
    display: flex;
    padding: 4% 4% 0 4%;
    width: 100%;
}

.right{
    margin-left: auto;
}
@media (min-width: 548px) and (max-width: 576px) {
    footer{
        font-size: 10px;
        padding: 2% 4% 0 4% !important;
    }
}

@media (min-width: 320px) and (max-width: 548px) {
    footer{
        font-size: 8px;
        padding: 2% 4% 0 4% !important;
    }
}