//nav
nav {
  background-color: #c5e4ca;
  height: 10vh;
  display: flex;
  align-items: center;
  font-size: large;



  text-align: center;
  width: 100%;
  ul {
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
    width: 100%;

    li {
      list-style-type: none;
      font-weight: bold;
    }
    li:hover {
      font-size: larger;
      font-weight: bolder;
    }
    a {
      text-decoration: none;
      color: #66796a;

    }
  }
}

.title{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: $secondary-color;


  img{
    height: 10vh;
  }

}
