
* {
  box-sizing: border-box;
  margin: 0;
  margin: 0;
}


@import "config";
@import "component";

//pages
@import "index";
@import "gallery";
@import "sponsors";
@import "details";
@import "rsvp";
